:root {
    --bg: #f9f9fb;
    --container: #ffffff;
    --pri_text: #222831;
    --acc_green: #00b894;
    --acc_blue: #0984e3;
    --acc_yell: #fdcb6e;
    --acc_red: #d63031;
    --label: #636e72;

    --gap: 1.5rem;
    --radius: 12px;
    --shadow: 0 0 10px var(--label);
}


@container layout (min-width: 768px) {
    .card-container {
        justify-content: center;
        align-items: center;
    }

    .card {
        width: fit-content !important;
        font-size: clamp(13px,2cqi,16px);
        min-height: auto;
        max-height: max-content;
    }
}

body {
    background-color: var(--bg);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    min-height: 100vh;
    line-height: 1.4;
    color: var(--pri_text);
}

.container {
    container-type: inline-size;
    width: 100%;
    height: 100%;
    container-name: layout;
}

.card-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.card {
    background: var(--container);
    color: var(--pri_text);
    min-height: max-content;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin: 1rem 0.5rem;
    width: fit-content;
    height: 100%;
    max-width: 100%;
}